<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body id="<%= bodyId %>">
<header>
    <article class="logo">
        <a href="/index"><span>Fortnite</span></a>
        <a href="../guide"><img src="../images/items/info-icon.png" alt="Info"></a>
    </article>
    <section class="search-container">
        <form action="../search-profile" class="search-bar" method="get">
            <input type="text" name="q" placeholder="Zoek spelers...">
        </form>
    </section>
    <article class="profile">
        <img src="<%= selectedSkin ? selectedSkin.images.icon : 'images/default-img.jpg' %>" alt="<%= username %>">
        <span><%= username %></span>
    </article>
</header>

    
