<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>

<body id="<%= bodyId %>">
    <header>
        <article class="logo">
            <a href="/index"><span>Fortnite</span></a>
        </article>
        <article class="menu-container">
            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <label for="menu-toggle" class="hamburger-icon">
                <img src="/images/items/hamburger-menu.png" alt="Menu">
            </label>
            <section class="dropdown-menu">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/favorite">Favoriet</a></li>
                    <li><a href="/blacklist">Blacklisted</a></li>
                    <li><a href="/guide">Info</a></li>
                    <li><a href="/profile-settings">Profiel</a></li>
                    <li><a href="/leaderboard">Vrienden</a></li>
                    <li><a href="/logout" class="logout-link">Uitloggen</a></li>
                </ul>
            </section>
        </article>
        <article class="profile">
            <img src="<%= selectedSkin ? selectedSkin.images.icon : 'images/items/question-sign.png' %>" 
            alt="<%= username %>"
            class="<%= selectedSkin ? '' : 'placeholder-icon' %>"
            >
                <span>
                    <%= username %>
                </span>
        </article>
    </header>
    <script src="/js/menu.js"></script>
