<%- include("partials/header") %>

<main class="blacklist-page-main">
    <h1>Blacklist</h1>
    <article class="all-blacklist-cards">
        <% if (blacklistItems.length === 0) { %>
            <p>Geen skins op de blacklist.</p>
        <% } else { %>
            <% for (const skin of blacklistItems) { %>
                <article class="blacklist-card">
                    <img src="<%= skin.imageUrl %>" alt="<%= skin.name %>" class="skin-image-favorite">
                    <h2><%= skin.name %></h2>
                    <h3>Reden:</h3>
                    <p><%= skin.reason %></p>
                    <section class="button-container">
                        <form action="/blacklist/<%= skin.id %>/edit" method="GET">
                            <button class="edit-button" type="submit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </form>
                    </section>
                </article>
            <% } %>
        <% } %>
    </article>
</main>

<%- include("partials/footer") %>
