<%- include("partials/header") %>

<main class="blacklist-page-main">
    <h1>blacklisted skins</h1>
    <article class="all-blacklist-cards">
        <% if (blacklistItems.length === 0) { %>
            <p>Geen skins op de blacklist.</p>
        <% } else { %>
            <% for (const skin of blacklistItems) { %>
                <article class="blacklist-card">
                    <img src="<%= skin.skin?.images?.icon %>" alt="<%= skin.name %>" class="skin-image-favorite">
                    <h2><%= skin.skin?.name %></h2>
                    <h3>Reden:</h3>
                    <section class="reason-container">
                        <p><%= skin.reason %></p>
                    </section>
                    <section class="button-container">
                        <form action="/blacklist/<%= skin.id %>/edit" method="GET">
                            <button class="edit-button" type="submit">
                                <img src="/images/items/edit-icon.png" alt="edit-button">
                            </button>
                        </form>
                    </section>
                </article>
            <% } %>
        <% } %>
    </article>
</main>

<%- include("partials/footer") %>
