<body id="edit-blacklist-page">
  <%- include("partials/header") %>

  <main class="edit-blacklist-container">
    <h1>Blacklist Bewerken: <%= skin?.name %></h1>
    <form action="/blacklist/<%= skinId %>/edit" method="POST" class="edit-blacklist-card">
       <img src="<%= skin.images?.icon %>" alt="<%= skin.name %>" class="edit-bl-img">
      <article>
        <label for="reason">bewerk reden:</label><br />
        <textarea id="reason" name="reason" required><%= reason %></textarea>
      </article>

      <article style="margin-top: 1rem;">
        <button type="submit" name="remove" value="false">Opslaan</button>
      </article>
    </form>
  </main>

  <%- include("partials/footer") %>
</body>
