<%- include("partials/header") %>

<main class="favorite-page-main">
  <article class="all-favorite-cards">
    <% if (skins.length === 0) { %>
      <p class="error-message-favorite">Je hebt nog geen favoriete skins.</p>
    <% } else { %>
        <h1>Jouw favoriete skins</h1>
      <% for (const fav of skins) { %>
        <% const skin = fav.skin; %>
        <% if (skin) { %>
          <article class="favorite-card">
            <img src="<%= skin.images.icon %>" alt="<%= skin.name %>" class="skin-image-favorite">
            <h2><%= skin.name %></h2>

            <section class="wins-losses-icons">
              <button class="favorite-wins">
                <p><%= skin.stats?.wins || 0 %></p> <i class="fa-solid fa-trophy"></i>
              </button>
              <button class="favorite-losses">
                <p><%= skin.stats?.losses || 0 %></p> <i class="fa-solid fa-skull-crossbones"></i>
              </button>
              
            </section>

            <section class="items-favorite">
                <%  const itemsToShow = (skin.items || []).slice(0, 2);
                  while (itemsToShow.length < 2) itemsToShow.push(null);
                %>

                <% for (const item of itemsToShow) { %>
                    <section class="item-img">
                    <% if (item) { %>
                        <img src="<%= item.images.icon %>" alt="<%= item.name %>">
                    <% } else { %>
                        <article style="font-size: 1rem; text-align: center;" title="Niet bekend">?</article>
                    <% } %>
                    </section>
                <% } %>
                </section>

            <section class="button-container">
              <form action="/skins/<%= skin.id %>" method="get">
                <button class="details-button">Details</button>
              </form>
              <form action="/skins/edit/<%= skin.id %>" method="get">
                <button class="edit-button"><i class="fa-solid fa-pen-to-square"></i></button>
              </form>
            </section>
          </article>
        <% } %>
      <% } %>
    <% } %>
  </article>
</main>

<%- include("partials/footer") %>
