<%- include("partials/header") %>

<main>
  <section class="settings-card">
    <label for="settings-toggle" class="mobile-options-btn">
      <img src="../images/menu-button.svg" alt="Menu">
    </label>
    <input type="checkbox" id="settings-toggle" hidden>

    <ul class="settings-left-btns">
      <li><a href="index" class="back-button">&larr; TERUG</a></li>
      <li><a href="/profile-settings" class="profile-btn">Profiel</a></li>
      <li><a href="/account-settings" class="account-btn">Account</a></li>
      <li><a href="/logout" class="logout-btn">Uitloggen</a></li>
    </ul>

    <article class="settings-profile">
      <figure>
        <img src="<%= selectedSkin ? selectedSkin.images.icon : 'images/skins/default-skin.jpg' %>" alt="Skin">
        <p>
          <span class="profile-name"><%= username %></span><br>
          <span class="profile-level">⭐ <%= level %> | 🏆 <%= wins%> </span>
        </p>
      </figure>
      <ul>
        <li>HUIDIGE SKIN: <span class="user-current-skin"><%= selectedSkin ? selectedSkin.name : 'Geen skin geselecteerd' %></span></li>
        <li>HIGH SCORE: <span class="wins-amount"><%= user.moves == null ? "Nog niet gespeeld" : moves %></span></li>
      </ul>
    </article>
  </section>
</main>

<%- include("partials/footer") %>