<%- include("partials/header") %>

<main>
  <section class="settings-card">
    <button class="mobile-options-btn" id="optionsBtn"> <img src="images/menu-button.svg" alt=""></button>
    <ul class="settings-left-btns" id="leftBtns">
      <a href="index" class="back-button">&larr; TERUG</a>

      <li><button class="profile-btn active"><a href="/profile-settings">Profiel</a></button></li>
      <li><button class="account-btn"> <a href="/account-settings">Account</a></button></li>
      <li><button class="logout-btn"> <a href="/logout">Uitloggen</a></button></li>
    </ul>

    <article class="settings-profile">
      <figure>
        <img src="<%= selectedSkin ? selectedSkin.images.icon : 'images/skins/default-skin.jpg' %>" alt="Skin">
        <p>
          <span class="profile-name"><%= username %></span><br>
          <span class="profile-level">⭐ <%= level %> | 🏆 <%= wins%> </span>
        </p>
      </figure>
      <ul>
        <li>HUIDIGE SKIN: <span class="user-current-skin"><%= selectedSkin ? selectedSkin.name : 'Geen skin geselecteerd' %></span></li>
        <li>HIGH SCORE: <span class="wins-amount"><%= user.moves == null ? "Nog niet gespeeld" : moves %></span></li>
      </ul>
    </article>
  </section>
</main>

<%- include("partials/footer") %>