<%- include("partials/header") %>

    <main>
        <section class="profile-search-card">
            <a href="index" class="back-button">&larr; TERUG</a>

            <h1>ZOEKRESULTATEN VOOR: <%= q %> </h1>
            
            <% for(var result of results ) { %> 
                <article class="profile-search">
                    <a href="/user/<%=result.name%>">
                    <img src="<%= result.skinIconUrl %>" alt="">
                </a>
                        <span class="profile-search-username"><%= result.name %></span>
                </article>
                <% } %> 
        </section>
    </main>

    <%- include("partials/footer") %>