<%- include("partials/header") %>

<main>
  <section class="profile-search-card">

    <a href="index" class="back-button">&larr; TERUG</a>
    <label for="friends-toggle" class="menu-btn">
      <img src="images/menu-button.svg" width="30px" alt="Menu">
    </label>
    <input type="checkbox" id="friends-toggle" hidden>

    <ul class="friends-header">
      <li><a href="/friends">VRIENDEN</a></li>
      <li><a href="/leaderboard">LEADERBOARD</a></li>
      <li class="active"><a href="/search">ZOEKEN</a></li>
    </ul>

    <form action="/search" class="search-form-profiles" method="get" name="q">
      <label for="q">Zoek profiel</label>
      <input class="search-bar-profiles" type="text" name="q" value="<%= q %>">
    </form>

    <section class="search-results-container">
      <% for(var result of results ) { %>
      <a href="/search/<%=result.username%>">
        <article class="profile-search">
          <img src="<%= result.selectedSkinId == null ? '../images/default-img.png' : 'https://fortnite-api.com/images/cosmetics/br/' + result.selectedSkinId + '/smallicon.png' %>" alt="">
          <span class="profile-search-username"><%= result.username %></span>
        </article>
      </a>
      <% } %>
      <% if (noResults){ %>
      <p class="noresults-msg">Geen zoekresultaten gevonden</p>
      <%}%> 
    </section>
        </section>
    </main>

    <%- include("partials/footer") %>