<%- include('partials/header') %>

    <section class="shop-section">
        <button type="button" class="shop-button prev-button">&#9664;</button> <!-- Desktop vorige knop -->
        <article class="shop-container"></article> <!-- Hier komt shop items met js -->
        <button type="button" class="shop-button next-button">&#9654;</button> <!-- Desktop volgende knop -->

        <main id="shop-page-main">
            <article class="shop-container">
                <% if (items.length > 0) { %>
                    <% for (const item of items) { %>
                        <section class="shop-item">
                            <img src="<%= item.item.images.icon %>" alt="<%= item.item.name %>">
                            <h2><%= item.item.name %></h2>
                            <p><%= item.item.series ? item.item.series.name : "No series" %></p>
                            <p>Prijs: <%= item.finalPrice %> V-Bucks</p>
                        </section>
                    <% } %>
                <% } else { %>
                    <p>No items available at the moment.</p>
                <% } %>
            </article>
        </main>
    
        <!-- Extra knoppen onderaan voor mobiel -->
        <article class="shop-button-container">
            <button type="button" class="shop-button-mobile prev-button">&#9664;</button> 
            <button type="button" class="shop-button-mobile next-button">&#9654;</button> 
        </article>
    </section>

    <%- include('partials/footer') %>