<%- include('partials/header') %>

<section class="shop-section">


    <% if (error === "notEnoughVbucks") { %>
    <article class="error-message-shop">
        <p style="color: red; font-weight: bold;">Je hebt niet genoeg V-Bucks om dit item te kopen.</p>
    </article>
    <% } %>

    <main id="shop-page-main">
        <article class="shop-container">
                <% for (const item of items) { 
                    const isBought = boughtItems?.includes(item.devName)%>
                    <article class="shop-item">
                        <img src="<%= item.bundle?.image || 'default-image-path.png' %>" alt="<%= item.bundle?.name || item.devName %>">
                        <h3 class="shop-item-name"><%= item.bundle?.name || item.devName %></h3>
                        <p class="shop-des"><%= item.offerTag?.text || 'Geen beschrijving beschikbaar' %></p>
                        <p class="price">
                            <%= item.finalPrice %> 
                            <img src="https://fortnite-api.com/images/vbuck.png" alt="V-Bucks" class="vbuck-icon">
                        </p>

                        <% if (isBought) { %>
                            <button class="bought-button"  disabled>Gekocht</button>
                        <% } else { %>
                            <form method="POST" action="/shop/buy">
                                <input type="hidden" name="itemId" value="<%= item.devName %>">
                                <input type="hidden" name="itemPrice" value="<%= item.finalPrice %>">
                                <button type="submit" class="buy-button">Koop</button>
                            </form>
                        <%} %>
                    </article>
                <% } %>
        </article>
    </main>
    

</section>

<%- include('partials/footer') %>

