<%- include("partials/header") %>

    <main id="skins-page-main">
        <article class="current-skin">
            <img src="<%= selectedSkin ? selectedSkin.images.icon : 'images/skins/default-skin.jpg' %>" alt="Dark Voyager">
            <h1 class="current-skin-name"><%= selectedSkin ? selectedSkin.name : 'Geen skin geselecteerd' %></h1>
            <section class="win-loss-icons">
                <button class="skins-wins"><%= wins %><img src="images/items/trophy.png" alt="Win trofee"></button>
                <button class="skins-losses"><%= losses %><img src="images/items/game-over.png" alt="verlies"></button>
            </section>
        </article>
        <article class="skin-gallery">
            <form class="search-skin" action="/skins" method="GET">
                <input type="search" value="" placeholder="Zoek skins" name="q">
            </form>
            <section class="all-skins">
                <% for (const skin of skins) { %>
                    <article class="skin">
                        <img id="skin-image" src="<%= skin.images.icon %>" alt="<%= skin.name %>">
                        <h1><%= skin.name %></h1>
                        <section class="skin-actions">
                            <a href="favorite-page.html">
                                <img class="star-icon" src="images/items/star-icon.png" alt="ster">
                            </a>
                            <a href="add-to-blacklist.html">
                                <img class="add-blacklist-btn" src="images/items/block-user-icon.png" alt="skin blacklist">
                            </a>
                        </section>
                    </article>
                <% } %>
            </section>                    
        </article>
    </main>
    <%- include("partials/footer") %>