<%- include('partials/header') %>

<main>
  <section class="user-profile-card">
    <a href="../index" class="back-button">&larr; TERUG</a>
    <article class="user-profile">
      <figure>
        <img src="<%= selectedSkinUser.images.icon %>" class="user-avatar">
        <p class="profile-name"><%= profile.username %></p>
        <% if (alreadyFriends) { %>
        <form action=" /remove-friend/<%= profile.username %>" method="post">
          <input type="hidden" name="friendUsername" value="<%= profile.username %>">
          <button class="user-add-button" type="submit" id="addUserBtn"><img src="../images/add.png" width="25px">VERWIJDER</button>
        </form>
        <% } else {%>
        <form action="/search/<%= profile.username %>" method="post">
          <input type="hidden" name="friendUsername" value="<%= profile.username %>">
          <button class="user-add-button" type="submit" id="addUserBtn"><img src="../images/add.png" width="25px">ADD</button>
        </form> <%}%> 
      </figure>

      <span class="profile-level"> <%= profile.level%>⭐ | <%= profile.wins%>🏆</span>

        <ul>
          <li>HUIDIGE SKIN: <span class="user-current-skin"><%=selectedSkin.name%></span></li>
          <li>HIGH SCORE: <span class="wins-amount"><%= profile.moves == null ? "Nog niet gespeeld" : profile.moves %></span></li>
        </ul>
    </article>
  </section>
</main>

<%- include('partials/footer') %>